In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/convert_yes_no_to_nums.csv")
df.head()

,id,class,position,file,horizontal_symmetry,vertical_symmetry,vgg_pixels,vgg1,vgg1_conf,vgg1_correct,...,NAS1,NAS1_conf,NAS1_correct,NAS2,NAS2_conf,NAS2_correct,NAS3,NAS3_conf,NAS3_correct,NAS_correct
0,1,coffee_mug,back,coffee_mug-back.jpg,0,0,224,cup,0.54,0,...,coffee_mug,0.83,1,cup,0.03,0,espresso,0.00,0,1
1,2,coffee_mug,from_left,coffee_mug-from_left.jpg,0,0,224,coffee_mug,0.62,1,...,coffee_mug,0.78,1,cup,0.06,0,espresso,0.00,0,1
2,3,coffee_mug,from_right,coffee_mug-from_right.jpg,0,0,224,coffee_mug,0.45,1,...,coffee_mug,0.71,1,cup,0.11,0,espresso,0.02,0,1
3,4,coffee_mug,on_its_side,coffee_mug-on_its_side.jpg,0,0,224,toilet_tissue,0.16,0,...,coffee_mug,0.51,1,water_jug,0.09,0,pitcher,0.07,0,1
4,5,coffee_mug,overhead,coffee_mug-overhead.jpg,0,0,224,bottlecap,0.16,0,...,soup_bowl,0.47,0,cup,0.27,0,coffee_mug,0.08,1,1

In [3]:
df.describe()

,id,horizontal_symmetry,vertical_symmetry,vgg_pixels,vgg1_conf,vgg1_correct,vgg2_conf,vgg2_correct,vgg3_conf,vgg3_correct,...,incep3_correct,incep_correct,NAS_pixels,NAS1_conf,NAS1_correct,NAS2_conf,NAS2_correct,NAS3_conf,NAS3_correct,NAS_correct
count,70.000000,70.0,70.000000,70.0,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,...,70.000000,70.000000,70.0,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,35.500000,0.0,0.571429,224.0,0.561857,0.485714,0.136000,0.128571,0.047714,0.057143,...,0.042857,0.785714,331.0,0.740571,0.771429,0.096000,0.114286,0.025857,0.014286,0.885714
std,20.351085,0.0,0.498445,0.0,0.270910,0.503405,0.124544,0.337142,0.043545,0.233791,...,0.203997,0.413289,0.0,0.198333,0.422944,0.117058,0.320455,0.046981,0.119523,0.320455
min,1.000000,0.0,0.000000,224.0,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,331.0,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.250000,0.0,0.000000,224.0,0.372500,0.000000,0.040000,0.000000,0.010000,0.000000,...,0.000000,1.000000,331.0,0.637500,1.000000,0.010000,0.000000,0.000000,0.000000,1.000000
50%,35.500000,0.0,1.000000,224.0,0.550000,0.000000,0.095000,0.000000,0.040000,0.000000,...,0.000000,1.000000,331.0,0.815000,1.000000,0.050000,0.000000,0.010000,0.000000,1.000000
75%,52.750000,0.0,1.000000,224.0,0.800000,1.000000,0.185000,0.000000,0.070000,0.000000,...,0.000000,1.000000,331.0,0.890000,1.000000,0.147500,0.000000,0.027500,0.000000,1.000000
max,70.000000,0.0,1.000000,224.0,0.990000,1.000000,0.450000,1.000000,0.210000,1.000000,...,1.000000,1.000000,331.0,0.990000,1.000000,0.460000,1.000000,0.210000,1.000000,1.000000

In [4]:
# Top-3 accuracy
np.mean(df["vgg_correct"])

0.6714285714285714

In [5]:
# Top-3 accuracy
np.mean(df["incep_correct"])

0.7857142857142857

In [6]:
# Top-3 accuracy
np.mean(df["NAS_correct"])

0.8857142857142857

In [16]:
# Top-1 accuracy
np.mean(df["vgg1_correct"])

0.4857142857142857

In [17]:
# Top-1 accuracy
np.mean(df["incep1_correct"])

0.6285714285714286

In [18]:
# Top-1 accuracy
np.mean(df["NAS1_correct"])

0.7714285714285715

### Takeaway:
* NASNet is the top performer, followed by Inception and then VGG

In [10]:
# Top-3 accuracy by object
df.groupby("class")["vgg_correct"].mean()

class
coffee_mug        0.9
hammer            0.7
notebook          0.5
soap_dispenser    0.8
sunglasses        0.0
umbrella          0.9
wine_bottle       0.9
Name: vgg_correct, dtype: float64

In [11]:
# Top-3 accuracy by object
df.groupby("class")["incep_correct"].mean()

class
coffee_mug        0.8
hammer            0.9
notebook          0.8
soap_dispenser    0.7
sunglasses        0.5
umbrella          1.0
wine_bottle       0.8
Name: incep_correct, dtype: float64

In [19]:
# Top-3 accuracy by object
df.groupby("class")["NAS_correct"].mean()

class
coffee_mug        1.0
hammer            1.0
notebook          0.9
soap_dispenser    0.8
sunglasses        0.6
umbrella          1.0
wine_bottle       0.9
Name: NAS_correct, dtype: float64

In [24]:
# Top-1 accuracy by object
df.groupby("class")["vgg1_correct"].mean()

class
coffee_mug        0.6
hammer            0.6
notebook          0.5
soap_dispenser    0.7
sunglasses        0.0
umbrella          0.8
wine_bottle       0.2
Name: vgg1_correct, dtype: float64

In [25]:
# Top-1 accuracy by object
df.groupby("class")["incep1_correct"].mean()

class
coffee_mug        0.8
hammer            0.7
notebook          0.7
soap_dispenser    0.3
sunglasses        0.4
umbrella          1.0
wine_bottle       0.5
Name: incep1_correct, dtype: float64

In [26]:
# Top-1 accuracy by object
df.groupby("class")["NAS1_correct"].mean()

class
coffee_mug        0.9
hammer            1.0
notebook          0.9
soap_dispenser    0.4
sunglasses        0.6
umbrella          1.0
wine_bottle       0.6
Name: NAS1_correct, dtype: float64

### Takeaway:
* VGG could not identify the sunglasses in any position, whereas the other models performed moderately well
* Order of performance remains NASNet, then Inception, followed by VGG

In [27]:
# Top-3 accuracy by position
df.groupby("position")["vgg_correct"].mean()

position
back                   0.857143
from_left              0.571429
from_right             0.857143
on_its_side            0.428571
overhead               0.285714
rotated_from_side      0.714286
rotated_upside_down    0.857143
straight_45            0.857143
straight_on            0.857143
upside_down            0.428571
Name: vgg_correct, dtype: float64

In [28]:
# Top-3 accuracy by position
df.groupby("position")["incep_correct"].mean()

position
back                   1.000000
from_left              0.571429
from_right             0.857143
on_its_side            0.571429
overhead               0.428571
rotated_from_side      1.000000
rotated_upside_down    1.000000
straight_45            0.857143
straight_on            1.000000
upside_down            0.571429
Name: incep_correct, dtype: float64

In [29]:
# Top-3 accuracy by position
df.groupby("position")["NAS_correct"].mean()

position
back                   1.000000
from_left              0.857143
from_right             0.857143
on_its_side            0.714286
overhead               0.571429
rotated_from_side      1.000000
rotated_upside_down    1.000000
straight_45            0.857143
straight_on            1.000000
upside_down            1.000000
Name: NAS_correct, dtype: float64

### Takeaway:
* Less sophisticated models (VGG) appear to have trouble identifying objects that are NOT in their "normal" postion, whereas more sophisticated models (Inception and NASNet) do not have any trouble with this

In [30]:
# Top-3 accuracy for objects that are vertically symmetric
df.groupby("vertical_symmetry")["vgg_correct"].mean()

vertical_symmetry
0    0.800
1    0.575
Name: vgg_correct, dtype: float64

In [31]:
# Top-3 accuracy for objects that are vertically symmetric
df.groupby("vertical_symmetry")["incep_correct"].mean()

vertical_symmetry
0    0.800
1    0.775
Name: incep_correct, dtype: float64

In [32]:
# Top-3 accuracy for objects that are vertically symmetric
df.groupby("vertical_symmetry")["NAS_correct"].mean()

vertical_symmetry
0    0.933333
1    0.850000
Name: NAS_correct, dtype: float64

In [33]:
# Top-1 accuracy for objects that are vertically symmetric
df.groupby("vertical_symmetry")["vgg1_correct"].mean()

vertical_symmetry
0    0.633333
1    0.375000
Name: vgg1_correct, dtype: float64

In [34]:
# Top-1 accuracy for objects that are vertically symmetric
df.groupby("vertical_symmetry")["incep1_correct"].mean()

vertical_symmetry
0    0.60
1    0.65
Name: incep1_correct, dtype: float64

In [35]:
# Top-3 accuracy for objects that are vertically symmetric
df.groupby("vertical_symmetry")["NAS1_correct"].mean()

vertical_symmetry
0    0.766667
1    0.775000
Name: NAS1_correct, dtype: float64

### Takeaway:
* The least sophisticated model (VGG) performs much worse on objects that have vertical symmetry, while this quality did not seem to have much of an impact on the performance of the other models